[Unit]
Description=Reverse Proxy for keymaster protected services
After=network.target

[Service]
PermissionsStartOnly=true
ExecStartPre=/usr/sbin/setcap cap_net_bind_service=+ep /usr/sbin/km-reverse-proxy
ExecStart=/usr/bin/km-reverse-proxy -config /etc/km-reverse-proxy/config.yml
Restart=always
RestartSec=20
User=km-reverse-proxy
Group=km-reverse-proxy

[Install]
WantedBy=multi-user.target
